.better-clock {
    display: inline-block;
    width: 300px;
    border: 1px solid #333;
    border-radius: 5px;
    margin-bottom: 20px;

    text-align: center;

    &__time {
        font-size: 48px;
        color: black;
        margin: 0;
    }
}

